<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- To access the page: http://ip:8085/medibotv4_ros/medibotv4.html -->
    
    <arg name="name" default="medibotv4_web_node"/>
    <arg name="port" default="8085"/> <!-- avoid to use apache default port -->
    <arg name="webpath" default="webpage"/> <!-- relative path to the webroot. E.g. place this foloder in the ROS package root dir -->
    <arg name="use_roswww" default="true" />


    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <include if="$(arg use_roswww)" file="$(find roswww)/launch/roswww.launch">
        <arg name="name" value="$(arg name)"/>
        <arg name="port" value="$(arg port)"/>
        <arg name="webpath" value="$(arg webpath)"/>
    </include>

    <node name="web_video_server" pkg="web_video_server" type="web_video_server" >
        <param name="port" value="8080"/>
<!--         <param name="ros_threads" value="5"/> -->
    </node>


</launch>
