<?xml version="1.0" ?>
<launch>

<include file="$(find medibotv4)/launch/base/arduino.launch" />

<include file="$(find medibotv4)/launch/base/lidar.launch" />

<!-- <include file="$(find medibotv4)/launch/base/odom.launch" /> -->

<include file="$(find medibotv4)/launch/base/robot_model.launch" />

<include file="$(find medibotv4)/launch/base/scan_matcher.launch" />

<include file="$(find medibotv4)/launch/base/twist_mux.launch" />

<!-- <include file="$(find medibotv4)/launch/mapping/gmapping.launch" /> -->

<!-- <include file="$(find medibotv4)/launch/navigation/exploration.launch" /> -->

<!-- <include file="$(find medibotv4)/launch/navigation/navigation.launch" />  -->

<!-- <node type="robot_pose_publisher" name="robot_pose_publisher" pkg="medibotv4"/> -->

<!-- <include file="$(find medibotv4)/launch/base/usb_cam.launch" /> -->

<!-- <include file="$(find medibotv4)/launch/base/ip_cam.launch" /> -->

<!-- <include file="$(find medibotv4)/launch/base/webserver.launch" /> -->


</launch>