<?xml version="1.0" ?>
<launch>

    <!-- <node pkg="capabilities" name="capability_server" type="capability_server" output="screen" required="true" ns="some_ns"> -->
    <node pkg="capabilities" name="capability_server" type="capability_server" output="screen" required="true">

        <param name="debug" value="false" />
        <!-- Uncomment to whitelist packages -->
        <!-- <rosparam param="package_whitelist">
            - some_other_package
            #- minimal_pkg
        </rosparam> -->
        <!-- Uncomment to blacklist packages -->
        <!-- <rosparam param="package_blacklist">
            - minimal_pkg
        </rosparam> -->
        <!-- Uncomment to whitelist capabilities -->
        <!-- <rosparam param="whitelist">
            - 'minimal_pkg/Minimal'
            - 'minimal_pkg/SpecificMinimal'
        </rosparam> -->
        <!-- Uncomment to blacklist capabilities -->
        <!-- <rosparam param="blacklist">
            - 'minimal_pkg/SpecificMinimal'
        </rosparam> -->

    </node>
</launch>