<launch>
    <arg name="robot_ns" default="robot1" />

    <group ns="$(arg robot_ns)">

        <include file="$(find medibotv4)/launch/base/arduino.launch"/>

        <include file="$(find medibotv4)/launch/base/odom.launch"/>

        <include file="$(find medibotv4)/launch/base/lidar.launch"/>

        <include file="$(find medibotv4)/launch/base/robot_model.launch" />

    </group>
    
</launch>