<launch>
    <arg name="robot_ns" default="robot1" />

    <group ns="$(arg robot_ns)">

        <include file="$(find medibotv4)/launch/base/arduino.launch"/>

        <include file="$(find medibotv4)/launch/base/odom.launch"/>

        <include file="$(find medibotv4)/launch/base/multirobot_lidar.launch">
            <arg name="robot_ns" value="robot1"/>
        </include>

        <include file="$(find medibotv4)/launch/base/multirobot_model.launch">
            <arg name="_robot_name"  value="robot1" />
            <arg name="_tf_robot" value="$(arg _robot_name)_tf" /> 
        </include>

        <include file="$(find medibotv4)/launch/base/multirobot_scan_matcher.launch">
            <arg name="robot_ns" value="robot1"/>
        </include>

        <include file="$(find medibotv4)/launch/base/twist_mux.launch" />

    </group>
    
</launch>