<launch>
    <arg name="robot_ns" default="robot1" />

    <group ns="$(arg robot_ns)">

        <include file="$(find medibotv4)/launch/base/arduino.launch"/>

        <!-- <include file="$(find medibotv4)/launch/base/odom.launch"/> -->

        <include file="$(find medibotv4)/launch/base/multirobot_lidar.launch">
            <arg name="robot_ns" value="$(arg robot_ns)"/>
        </include>

        <include file="$(find medibotv4)/launch/base/multirobot_model.launch">
            <arg name="robot_ns"  value="$(arg robot_ns)" />
            <arg name="tf_robot" value="$(arg robot_ns)" /> 
        </include>

        <include file="$(find medibotv4)/launch/base/multirobot_scan_matcher.launch">
            <arg name="robot_ns" value="$(arg robot_ns)"/>
        </include>

        <include file="$(find medibotv4)/launch/base/twist_mux.launch" />

    </group>

    <group ns="robot1">
    <arg name="robot_name"  value="robot1" />
    <arg name="tf_robot" value="$(arg robot_name)_tf" /> 
    <param name="tf_prefix" type="string" value="$(arg tf_robot)"/>

    <!--- AMCL -->
    <include file="$(find medibotv4)/launch/navigation/multirobot_amcl.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!--move_base-->
    <include file="$(find medibotv4)/launch/navigation/multirobot_move_base.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
 
  </group>
    
</launch>