<launch>
    <arg name="robot_ns" default="robot2" />
    <arg name="map_name" default="gpcl_map1"/>
    <arg name="map_file" default="$(find medibotv4)/maps/$(arg map_name).yaml"/>

    <group ns="$(arg robot_ns)">

        <include file="$(find medibotv4)/launch/base/arduino.launch"/>

        <include file="$(find medibotv4)/launch/base/multirobot_odom.launch">
            <arg name="robot_ns" value="$(arg robot_ns)"/>
        </include>
        
        <include file="$(find medibotv4)/launch/base/multirobot_ekf_localization.launch">
            <arg name="robot_ns" value="$(arg robot_ns)" />
        </include>

        <include file="$(find medibotv4)/launch/base/multirobot_model.launch">
            <arg name="robot_ns"  value="$(arg robot_ns)" />
            <arg name="tf_robot" value="$(arg robot_ns)" /> 
        </include>

        <include file="$(find medibotv4)/launch/base/multirobot_lidar.launch">
            <arg name="robot_ns" value="$(arg robot_ns)"/>
        </include>

        <include file="$(find medibotv4)/launch/base/multirobot_scan_matcher.launch">
            <arg name="robot_ns" value="$(arg robot_ns)"/>
        </include>

        <!-- <include file="$(find medibotv4)/launch/base/twist_mux.launch" /> -->

        <!--- AMCL -->
        <include file="$(find medibotv4)/launch/navigation/multirobot_amcl.launch">
        <arg name="robot_name" value="$(arg robot_ns)"/>
        <arg name="initial_pose_x" value="9.2"/>
        <arg name="initial_pose_y" value="2.0"/>
        <arg name="initial_pose_a" value="1.0"/>
        </include>

        <!--move_base-->
        <include file="$(find medibotv4)/launch/navigation/multirobot_move_base.launch">
        <arg name="robot_name" value="$(arg robot_ns)"/>
        </include>

        <node pkg="medibotv4" type="auto_clear_costmap_node" name="auto_clear_costmap_node" output="screen">
            <param name="tf_prefix"                  value="$(arg robot_ns)"/>
        </node>

        <node pkg="medibotv4" type="robot_pose_publisher" name="robot_pose_publisher">
            <param name="base_frame"                  value="$(arg robot_ns)/base_link"/>
        </node>

    </group>
    
</launch>