<launch>
    <arg name="robot_ns" default="robot2" />

    <group ns="$(arg robot_ns)">

        <include file="$(find medibotv4)/launch/base/arduino.launch"/>

        <!-- <include file="$(find medibotv4)/launch/base/odom.launch"/> -->

        <include file="$(find medibotv4)/launch/base/multirobot_lidar.launch">
            <arg name="robot_ns" value="$(arg robot_ns)"/>
        </include>

        <include file="$(find medibotv4)/launch/base/multirobot_model.launch">
            <arg name="robot_ns"  value="$(arg robot_ns)" />
            <arg name="tf_robot" value="$(arg robot_ns)" /> 
        </include>

        <include file="$(find medibotv4)/launch/base/multirobot_scan_matcher.launch">
            <arg name="robot_ns" value="$(arg robot_ns)"/>
        </include>

        <include file="$(find medibotv4)/launch/base/twist_mux.launch" />

    </group>
    
</launch>