<?xml version="1.0" ?>
<launch>

	<include file="$(find medibotv4_simulation)/launch/gazebo/gazebo.launch" />

	<include file="$(find medibotv4_simulation)/launch/navigation/navigation.launch" />

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

	<node type="robot_pose_publisher" name="robot_pose_publisher" pkg="medibotv4"/>

	<node type="spots_service_server.py" name="spots_service_server" pkg="medibotv4"/>

</launch>