<launch>
    <arg name="robot1_ns" default="robot1" />

    <group ns="$(arg robot1_ns)">

        <node pkg="medibotv4" type="robot_pose_publisher" name="robot_pose_publisher">
            <param name="base_frame"                  value="$(arg robot1_ns)/base_link"/>
        </node>

    </group>
    
</launch>