<launch>

<rosparam file="$(find medibotv4_description)/launch/controller.yaml" command="load"/>
<node args="left_wheel_joint_position_controller right_wheel_joint_position_controller pan_servo_joint_position_controller tilt_servo_joint_position_controller joint_state_controller " name="controller_spawner" ns="medibotv4" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/medibotv4/joint_states"/>
</node>

</launch>