<?xml version="1.0" ?>
<launch>

  <include file="$(find medibotv4_practice)/launch/serial_node.launch" />

  <include file="$(find medibotv4_practice)/launch/diff_tf.launch" />

  <include file="$(find medibotv4_practice)/launch/drive.launch" />

  <include file="$(find medibotv4_practice)/launch/lidar.launch" />

  <include file="$(find medibotv4_practice)/launch/realsense_left.launch" />

  <include file="$(find medibotv4_practice)/launch/realsense_right.launch" />

</launch>