<?xml version="1.0" ?>
<launch>
  <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value=""/>
    <param name="serial_port" value="/dev/ttyACM1"/>
    <param name="serial_baud" value="115200"/>
    <param name="frame_id" value="laser"/>
    <param name="calibrate_time" value="false"/>
    <param name="publish_intensity" value="false"/>
    <param name="publish_multiecho" value="false"/>

    <!-- 90+90=180 degree angle -->
<!--     <param name="angle_min" value="-1.5707963"/>
    <param name="angle_max" value="1.5707963"/> -->

    <!-- 135+135=270 degree angle -->
    <param name="angle_min" value="-2.35619"/>
    <param name="angle_max" value="2.35619"/>
  </node>
</launch>


