<?xml version="1.0" ?>
<launch>
  <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value=""/>
    <param name="serial_port" value="/dev/ttyACM1"/>
    <param name="serial_baud" value="115200"/>
    <param name="frame_id" value="lidar"/>
    <param name="calibrate_time" value="false"/>
    <param name="synchronize_time" value="true"/>
    <param name="publish_intensity" value="false"/>
    <param name="publish_multiecho" value="false"/>
    <!-- 114.5 + 114.5 = 229 degree angle -->
    <param name="angle_min" value="-2.00"/>
    <param name="angle_max" value="2.00"/>
    <remap from="scan" to="scan_unfiltered" />
  </node>

</launch>


