<?xml version="1.0" ?>
<launch>
  <arg name="robot_ns"/>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find medibotv4)/config/base/ekf_localization.yaml" />
    <param name="base_link_frame"                  value="$(arg robot_ns)/base_link"/>
    <param name="odom_frame"                       value="$(arg robot_ns)/odom"/>
    <param name="odom0"                            value="$(arg robot_ns)/odometry/wheel"/>
    <param name="pose0"                            value="$(arg robot_ns)/odometry/laser"/>

   <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
</launch>