<launch>
  <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="10"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <param command="$(find xacro)/xacro $(find medibotv4_description)/urdf/medibotv4.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model medibotv4 
              -x $(arg x) -y $(arg y) -z $(arg z) 
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" 
        name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  
  <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include> -->
  
  <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include> -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find aws_robomaker_hospital_world)/worlds/empty_hospital.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
  </include>

  <!-- Launch World
  <include file="$(find aws_robomaker_hospital_world)/launch/hospital.launch"/> -->

</launch>
