local_costmap:
  global_frame: map
  robot_base_frame: base_link

  update_frequency: 2.0
  publish_frequency: 2.0
  transform_tolerance: 0.5  

  static_map: false  
  rolling_window: true
  width: 2
  height: 2
  resolution: 0.05
  track_unknown_space: false