<?xml version="1.0" ?>

<launch>
  <!-- Arguments -->
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="open_rviz" default="false"/>
  <arg name="rvizconfig" default="navigation/medibotv4_navigation"/>
  <arg name="move_forward_only" default="true"/>
  <arg name="cmd_vel_topic" default="/nav_vel"/>
  <arg name="use_dwa" default="true"/>

  <!-- SLAM Gmapping -->
  <include file="$(find medibotv4)/launch/mapping/gmapping.launch" />

  <!-- AMCL -->
  <include file="$(find medibotv4)/launch/navigation/amcl.launch">
    <arg name="initial_pose_x" value="$(arg x_pos)"/>
    <arg name="initial_pose_y" value="$(arg y_pos)"/>
    <arg name="initial_pose_a" value="$(arg z_pos)"/>
  </include>

  <!-- move_base -->
  <include file="$(find medibotv4)/launch/navigation/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <arg name="use_dwa" value="$(arg use_dwa)"/>
  </include>

    <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <include file="$(find medibotv4)/launch/rviz.launch">
      <arg name="rvizconfig" value="$(arg rvizconfig)"/>
    </include>
  </group>

</launch>