<?xml version="1.0" ?>

<launch>
  <!-- Arguments -->
  <arg name="map_name" default="test2"/>
  <arg name="map_file" default="$(find medibotv4)/maps/$(arg map_name).yaml"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="open_rviz" default="false"/>
  <arg name="move_forward_only" default="true"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- amcl -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <rosparam file="$(find medibotv4)/config/amcl.yaml" command="load"/>
  </node>

  <!-- move_base -->
  <include file="$(find medibotv4)/launch/navigation/move_base2.launch" />

    <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find medibotv4)/rviz/default.rviz"/>
  </group>

</launch>