<launch>
  <param name="/use_sim_time" value="true"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find medibotv4_navigation)/maps/empty_hospital.yaml" >
    <param name="frame_id" value="/map" />
  </node>

  <param name="robot_description"
    command="$(find xacro)/xacro $(find medibotv4_description)/urdf/medibotv4.xacro" />

  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <param name="amcl/initial_pose_x" value="0" />
    <param name="amcl/initial_pose_y" value="10" />
    <include file="$(find medibotv4_navigation)/launch/multirobot_move_base.launch" />
  </group>

  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <param name="amcl/initial_pose_x" value="5" />
    <param name="amcl/initial_pose_y" value="10" />
    <include file="$(find medibotv4_navigation)/launch/multirobot_move_base.launch" />
  </group>

  <group ns="robot3">
    <param name="tf_prefix" value="robot3_tf" />
    <param name="amcl/initial_pose_x" value="-5" />
    <param name="amcl/initial_pose_y" value="10" />
    <include file="$(find medibotv4_navigation)/launch/multirobot_move_base.launch" />
  </group>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find medibotv4_description)/launch/urdf.rviz"
   output="screen" />

</launch>