<launch>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find aws_robomaker_hospital_world)/worlds/empty_hospital.world"/>
      <arg name="paused" default="false"/>
      <arg name="use_sim_time" default="true"/>
      <arg name="gui" default="true"/>
      <arg name="headless" default="false"/>
      <arg name="debug" default="false"/>
      <arg name="verbose" default="true"/>
  </include>

  <!-- include our robots -->
  <include file="$(find medibotv4_description)/launch/robots.launch"/>

</launch>